@font-face {
    font-family: Poppins-Regular;
    src: url('../../../Poppins/Poppins-Regular.ttf');
}
.header-container{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
nav{
    width: 93%;
    height: 75px;
    background: rgba(255, 255, 255, 0.1);
    font-family: Poppins-Regular;
    border-radius: 58px;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 1;
    backdrop-filter: blur(20px);
}

.links-cont{
    width: 100%;
    height: 100%;
    
}
ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    list-style: none;
    background: transparent;
}

a{
    color: #ffffff;
    text-decoration: none;
    background: transparent;
}